h1 {
    font-size: 50px;
    color: #FFFFFF;
    /* Branco bem brilhante! */
    text-align: center;
}

h2 {
    text-align: center;
    color: #FFD700;
    /* Amarelo ouro/neon para destacar! */
    font-size: 32px;
}